# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
dist/
*.tsbuildinfo

# Testing
coverage/

# Misc
.DS_Store
*.log
*.lock

# Environment files
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# TypeScript
next-env.d.ts
